### Gather data and load in file into data

In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# load data into dataframe using pandas
df_cardio_base = pd.read_csv(r'c:\users\HP\Turing_env\cardio_base.csv')
df_cardio_alco = pd.read_csv(r'c:\users\HP\Turing_env\cardio_alco.csv', sep = ';')
df_covid_data = pd.read_csv(r'c:\users\HP\Turing_env\covid_data.csv')

### covid_data quality Assessment

In [47]:
df_covid_data.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [48]:
df_covid_data.shape

(23082, 8)

In [49]:
df_covid_data.sample(10)

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
22653,Yemen,2020-05-06,9,1,29825968.0,2.922,1479.147,0.700
10659,Israel,2020-05-13,23,2,8655541.0,11.733,33132.320,2.990
4563,Colombia,2020-03-18,8,0,50882884.0,7.646,13254.949,1.710
17020,Qatar,2020-01-07,0,0,2881060.0,1.307,116935.600,1.200
13418,Malta,2020-04-19,4,0,441539.0,19.426,36513.323,4.485
18131,Saudi Arabia,2020-05-23,2642,13,34813867.0,3.295,49045.411,2.700
20806,Thailand,2020-06-02,1,0,69799978.0,11.373,16277.671,2.100
21136,Tunisia,2020-05-09,4,1,11818618.0,8.001,10849.297,2.300
3884,Canada,2020-04-02,1059,13,37742157.0,16.984,44017.591,2.500
13125,Malaysia,2020-03-23,123,6,32365998.0,6.293,26808.164,1.900

In [50]:
df_covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23082 entries, 0 to 23081
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    23082 non-null  object
 1   date                        23082 non-null  object
 2   new_cases                   23082 non-null  int64
 3   new_deaths                  23082 non-null  int64
 4   population                  23018 non-null  float64
 5   aged_65_older_percent       20643 non-null  float64
 6   gdp_per_capita              20711 non-null  float64
 7   hospital_beds_per_thousand  19144 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.4+ MB

date column is an object dtype instead of datetime format.

In [51]:
df_covid_data.describe()

,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
count,23082.000000,23082.000000,2.301800e+04,20643.000000,20711.000000,19144.000000
mean,624.769257,35.629062,1.037003e+08,9.758570,22708.384791,3.204687
std,5517.309068,330.986941,6.716897e+08,6.445662,21187.826121,2.593700
min,-2461.000000,-1918.000000,8.090000e+02,1.144000,661.240000,0.100000
25%,0.000000,0.000000,2.083380e+06,3.853000,6426.674000,1.400000
50%,3.000000,0.000000,9.449321e+06,7.646000,15524.995000,2.600000
75%,55.000000,1.000000,3.346920e+07,15.322000,35220.084000,4.210000
max,133510.000000,10520.000000,7.794799e+09,27.049000,116935.600000,13.800000

In [52]:
df_covid_data.isnull().any()

location                      False
date                          False
new_cases                     False
new_deaths                    False
population                     True
aged_65_older_percent          True
gdp_per_capita                 True
hospital_beds_per_thousand     True
dtype: bool

##### Investigate missing value in population column

In [53]:
from pprint import pprint 

## further investigation into null values in each of the column
null_population_rows = df_covid_data[df_covid_data['population'].isnull()]

pprint(null_population_rows)

            location        date  new_cases  new_deaths  population  \
23018  International  2019-12-31          0           0         NaN
23019  International  2020-01-01          0           0         NaN
23020  International  2020-01-02          0           0         NaN
23021  International  2020-01-03          0           0         NaN
23022  International  2020-01-04          0           0         NaN
...              ...         ...        ...         ...         ...
23077  International  2020-02-28          0           0         NaN
23078  International  2020-02-29          0           2         NaN
23079  International  2020-03-01          0           0         NaN
23080  International  2020-03-02          0           0         NaN
23081  International  2020-03-10         -9           1         NaN

       aged_65_older_percent  gdp_per_capita  hospital_beds_per_thousand
23018                    NaN             NaN                         NaN
23019                    NaN             NaN                         NaN
23020                    NaN             NaN                         NaN
23021                    NaN             NaN                         NaN
23022                    NaN             NaN                         NaN
...                      ...             ...                         ...
23077                    NaN             NaN                         NaN
23078                    NaN             NaN                         NaN
23079                    NaN             NaN                         NaN
23080                    NaN             NaN                         NaN
23081                    NaN             NaN                         NaN

[64 rows x 8 columns]

In [54]:
## displaying unique location values in the null_population_rows
unique_population_row = null_population_rows['location'].unique()

print(unique_population_row)

['International']

_The null population row in the unique to the internation row in the location column. This suggest that it contains other country that is not accounted for in cummulation._

##### investigate missing value in aged_65_older_percent

In [55]:
from pprint import pprint 

## further investigation into null values in each of the column
null_65_older_rows = df_covid_data[df_covid_data['aged_65_older_percent'].isnull()]
pprint(null_65_older_rows)

            location        date  new_cases  new_deaths  population  \
405          Andorra  2020-03-03          1           0     77265.0
406          Andorra  2020-03-14          1           0     77265.0
407          Andorra  2020-03-16          3           0     77265.0
408          Andorra  2020-03-17          9           0     77265.0
409          Andorra  2020-03-18          0           0     77265.0
...              ...         ...        ...         ...         ...
23077  International  2020-02-28          0           0         NaN
23078  International  2020-02-29          0           2         NaN
23079  International  2020-03-01          0           0         NaN
23080  International  2020-03-02          0           0         NaN
23081  International  2020-03-10         -9           1         NaN

       aged_65_older_percent  gdp_per_capita  hospital_beds_per_thousand
405                      NaN             NaN                         NaN
406                      NaN             NaN                         NaN
407                      NaN             NaN                         NaN
408                      NaN             NaN                         NaN
409                      NaN             NaN                         NaN
...                      ...             ...                         ...
23077                    NaN             NaN                         NaN
23078                    NaN             NaN                         NaN
23079                    NaN             NaN                         NaN
23080                    NaN             NaN                         NaN
23081                    NaN             NaN                         NaN

[2439 rows x 8 columns]

In [56]:
## displaying unique location values in the null_population_rows
unique_65_older_row = null_65_older_rows['population'].unique()

print(unique_65_older_row)

[7.7265000e+04 1.5002000e+04 6.2273000e+04 2.6221000e+04 3.0237000e+04
 6.5720000e+04 7.1991000e+04 4.8865000e+04 3.4830000e+03 3.3691000e+04
 5.6772000e+04 6.7052000e+04 8.5032000e+04 1.0107300e+05 1.9327740e+06
 3.8137000e+04 3.9244000e+04 4.9990000e+03 5.7557000e+04 5.3192000e+04
 3.3938000e+04 4.2882000e+04 1.7500657e+07 2.3816775e+07 3.8718000e+04
 8.0900000e+02 5.9733000e+05           nan]

_there are over 2439 empty rows in the "aged_65_older_percent" column, which is signicant

_I will ignore the data for now until the analysis decide otherwise_

#### other columns with null values is not signicant for this analysis.

In [57]:
df_covid_data.duplicated().all()

np.False_

In [58]:
df_covid_data.duplicated().any()

np.False_

## cardio_base Assessment

In [59]:
df_cardio_base.sample(10)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
33420  47744  18935       1     155    87.0    150     90            1      0
11331  16207  19556       1     169    70.0    120     80            1      0
32916  47024  17456       1     163    56.0    110     70            1      0
13577  19380  21964       2     180    82.0    110     90            1      0
58887  84052  19199       1     165    76.0    120     80            1      0
24727  35314  16950       1     163    63.0    120     80            1      0
49952  71299  18944       1     156    62.0    140     90            1      0
49866  71187  21922       2     170    95.0    150     90            1      0
66198  94499  16683       1     161    53.0    110     60            1      0
67399  96241  19741       1     170    80.0    120     80            1      0

In [60]:
df_cardio_base.head(5)

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

In [61]:
df_cardio_base.shape

(70000, 9)

In [62]:
df_cardio_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   smoke        70000 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 4.8 MB

In [63]:
df_cardio_base.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,0.088129
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.283484
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,0.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,1.000000

In [64]:
df_cardio_base.isna().any()

id             False
age            False
gender         False
height         False
weight         False
ap_hi          False
ap_lo          False
cholesterol    False
smoke          False
dtype: bool

In [65]:
df_cardio_base.duplicated().sum()

np.int64(0)

## Cardio_alco  Assessment

In [66]:
df_cardio_alco.head(5)

   id  alco
0  44     0
1  45     0
2  46     0
3  47     0
4  49     0

In [67]:
df_cardio_alco.shape

(56903, 2)

In [68]:
df_cardio_alco.describe()

                 id          alco
count  56903.000000  56903.000000
mean   48472.162065      0.053442
std    30994.121701      0.224915
min       44.000000      0.000000
25%    20401.000000      0.000000
50%    40763.000000      0.000000
75%    77109.500000      0.000000
max    99954.000000      1.000000

In [69]:
df_cardio_alco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56903 entries, 0 to 56902
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      56903 non-null  int64
 1   alco    56903 non-null  int64
dtypes: int64(2)
memory usage: 889.2 KB

In [70]:
def check_duplicate(data):
    duplicate_count = data.duplicated().sum()
    return duplicate_count

In [71]:
check_duplicate(df_cardio_base)

np.int64(0)

### Quality issue

#### df_covid_data
- The new_deaths and new_cases column contains -ve value
- Presence of null value in the population, age_65_older_percent, gbp_per_capita, hospital_beds_per_thousand
- The date column is in object datatype
- The population column is in float dtype

#### df_cardio_base

- ap_hi and ap_low columns contains -ve value, which is not logical for blood pressure measureement
- age column is represented in days mot in years.

In [72]:
## duplicate dataframe for cleaning
covid_data_clean = df_covid_data.copy()
cardio_base_clean = df_cardio_base.copy()
cardio_alco_clean = df_cardio_alco.copy()

In [73]:
covid_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23082 entries, 0 to 23081
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    23082 non-null  object
 1   date                        23082 non-null  object
 2   new_cases                   23082 non-null  int64
 3   new_deaths                  23082 non-null  int64
 4   population                  23018 non-null  float64
 5   aged_65_older_percent       20643 non-null  float64
 6   gdp_per_capita              20711 non-null  float64
 7   hospital_beds_per_thousand  19144 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.4+ MB

#### wrangling covid_data_clean

In [74]:
## drop empty row with all column empty
covid_data_clean.dropna(how='all', inplace=True)

## test
covid_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23082 entries, 0 to 23081
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    23082 non-null  object
 1   date                        23082 non-null  object
 2   new_cases                   23082 non-null  int64
 3   new_deaths                  23082 non-null  int64
 4   population                  23018 non-null  float64
 5   aged_65_older_percent       20643 non-null  float64
 6   gdp_per_capita              20711 non-null  float64
 7   hospital_beds_per_thousand  19144 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.4+ MB

In [75]:

# Inspect rows with null values in specified columns
null_rows = covid_data_clean[covid_data_clean[['population', 'aged_65_older_percent', 'gdp_per_capita', 'hospital_beds_per_thousand']].isnull().any(axis=1)]

# Display the result
print(null_rows)

            location        date  new_cases  new_deaths  population  \
405          Andorra  2020-03-03          1           0     77265.0
406          Andorra  2020-03-14          1           0     77265.0
407          Andorra  2020-03-16          3           0     77265.0
408          Andorra  2020-03-17          9           0     77265.0
409          Andorra  2020-03-18          0           0     77265.0
...              ...         ...        ...         ...         ...
23077  International  2020-02-28          0           0         NaN
23078  International  2020-02-29          0           2         NaN
23079  International  2020-03-01          0           0         NaN
23080  International  2020-03-02          0           0         NaN
23081  International  2020-03-10         -9           1         NaN

       aged_65_older_percent  gdp_per_capita  hospital_beds_per_thousand
405                      NaN             NaN                         NaN
406                      NaN             NaN                         NaN
407                      NaN             NaN                         NaN
408                      NaN             NaN                         NaN
409                      NaN             NaN                         NaN
...                      ...             ...                         ...
23077                    NaN             NaN                         NaN
23078                    NaN             NaN                         NaN
23079                    NaN             NaN                         NaN
23080                    NaN             NaN                         NaN
23081                    NaN             NaN                         NaN

[4754 rows x 8 columns]

In [76]:
# convert the nan value in the population column to 0 and change the dtype to int.

covid_data_clean['population'] = covid_data_clean['population'].fillna(0).astype(int)

#test
print(covid_data_clean['population'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 23082 entries, 0 to 23081
Series name: population
Non-Null Count  Dtype
--------------  -----
23082 non-null  int64
dtypes: int64(1)
memory usage: 180.5 KB
None

In [77]:
# Count number of values in column 'new_deaths' that are less than 0
count_less_than_zero = (covid_data_clean['new_deaths'] < 0).sum()

#test
print(f"Number of values less than 0 in column 'new_deaths': {count_less_than_zero}")

Number of values less than 0 in column 'new_deaths': 2

In [78]:
# Count number of values in column 'new_cases' that are less than 0
count_less_than_zero = (covid_data_clean['new_cases'] < 0).sum()

# test
print(f"Number of values less than 0 in column 'new_cases': {count_less_than_zero}")

Number of values less than 0 in column 'new_cases': 14

In [79]:
# create a new df for cardio_data without new_cases < 0
covid_data_clean = covid_data_clean[covid_data_clean['new_cases'] >= 0]

# test
count_less_than_zero = (covid_data_clean['new_cases'] < 0).sum()
print(f"Number of values less than 0 in column 'new_cases': {count_less_than_zero}")

Number of values less than 0 in column 'new_cases': 0

In [80]:
# create a new df for cardio_data without new_deaths < 0
covid_data_clean = covid_data_clean[covid_data_clean['new_deaths'] >= 0]

# test
count_less_than_zero = (covid_data_clean['new_deaths'] < 0).sum()
print(f"Number of values less than 0 in column 'new_deaths': {count_less_than_zero}")

Number of values less than 0 in column 'new_deaths': 0

In [81]:
# standardize the date column to datetime format (YYYY-MM-DD)

covid_data_clean['date'] = pd.to_datetime(covid_data_clean['date'], format='%Y-%m-%d')

# test
print(covid_data_clean['date'].dtype)

datetime64[ns]

In [82]:
covid_data_clean.describe()

,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
count,23067,23067.000000,23067.000000,2.306700e+04,20630.000000,20697.000000,19130.000000
mean,2020-04-10 01:40:52.906749952,625.466771,35.695019,1.034627e+08,9.757235,22708.250406,3.205123
min,2019-12-31 00:00:00,0.000000,0.000000,0.000000e+00,1.144000,661.240000,0.100000
25%,2020-03-18 00:00:00,0.000000,0.000000,2.078932e+06,3.853000,6426.674000,1.400000
50%,2020-04-16 00:00:00,3.000000,0.000000,9.449321e+06,7.646000,15524.995000,2.600000
75%,2020-05-14 00:00:00,55.000000,1.000000,3.346920e+07,15.168000,35220.084000,4.210000
max,2020-06-10 00:00:00,133510.000000,10520.000000,7.794799e+09,27.049000,116935.600000,13.800000
std,NaN,5519.007781,330.826505,6.709949e+08,6.444802,21190.657817,2.594131

In [83]:
covid_data_clean.isnull().any()

location                      False
date                          False
new_cases                     False
new_deaths                    False
population                    False
aged_65_older_percent          True
gdp_per_capita                 True
hospital_beds_per_thousand     True
dtype: bool

## Wrangle the cardio_base dataframe

In [84]:
cardio_base_clean.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,0.088129
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.283484
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,0.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,1.000000

In [85]:
# Identify rows with empty or negative values from 'ap_hi' and 'ap_lo'
invalid_rows = cardio_base_clean[(cardio_base_clean['ap_hi'] < 0) | 
                                 (cardio_base_clean['ap_lo'] < 0) | 
                                 cardio_base_clean[['ap_hi', 'ap_lo']].isnull().any(axis=1)]

# Test before dropping the invalid rows
for idx, row in cardio_base_clean.iterrows():
    if row.equals(invalid_rows.loc[idx]) if idx in invalid_rows.index else False:
        print("there is invalid_rows")
        break
    else:
        pass

there is invalid_rows

In [87]:
# Drop invalid rows in place from cardio_base_clean
cardio_base_clean.drop(invalid_rows.index, inplace=True)

In [88]:
# Test for rows in invalid_rows after dropping them
invalid_found = False  # Flag to track if invalid rows are found

for idx, row in cardio_base_clean.iterrows():
    if row.equals(invalid_rows.loc[idx]) if idx in invalid_rows.index else False:
        print("there is invalid_rows")
        invalid_found = True
        break  

# Only print if invalid rows were dropped
if not invalid_found:
    print("negative and empty rows dropped")

negative and empty rows dropped

In [43]:
## convert age column to count from days to years

cardio_base_clean['age'] = (cardio_base_clean['age'] / 365).astype(int)

# Test
cardio_base_clean['age'].sample(5)

50004    52
3648     62
36542    64
56979    58
7461     62
Name: age, dtype: int64